
body {
  text-align: center;
  height: 100vh;
  font-family: 'Roboto';
}

#output {
  font-size: 200px;
  padding-top: 100px;
  color: black;
  /* transition: opacity 0.5s ease-in-out; */
}

#output.final-result {
  color: green;
}

#startBtn,
#stopBtn,
#resetBtn,
#answerBtn {
  font-size: 1.5em;
  padding: 10px;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}

.btnstyl1 {
  background: #4CAF50;
  border: none;
  color: white;
  padding: 35px 30px !important;
  border-radius: 50%;
  box-shadow: 5px 2px 12px #c5c5c5;
}

.btnstyl2 {
  background: #f44336;
  border: none;
  color: white;
  padding: 35px 30px !important;
  border-radius: 50%;
  box-shadow: 5px 2px 12px #c5c5c5;
}

.btnstyl3 {
  background: #2196F3;
  border: none;
  color: white;
  border-radius: 50%;
  padding: 35px 25px !important;
  box-shadow: 5px 2px 12px #c5c5c5;
}

.btnstyl4 {
  background: #FF9800;
  border: none;
  color: white;
  padding: 35px 18px !important;
  border-radius: 50%;
  box-shadow: 5px 2px 12px #c5c5c5;
}

.set-time {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.set-time img {
  width: 100px;
}
.d-none{
  display:none ;
}
input[type="number"]{
  height: 40px;
padding: 0px 25px;
border: 1px solid #c6c6c6;
border-radius: 5px;
}
label{
  font-size: 22px;
}
.set{
  height: 40px;
  background-color: #f44336;
  border-radius: 5px;
  border: none;
  color: #fff;
  border: 3px solid rgb(255 173 173);
border-style: ridge;
box-shadow: 2px 3px 4px #d1d1d1;
}
.set:focus .d-none{
  display: none !important;
}
